$primarycolor:#222222;
$secondarycolor:#20C997;
$cardcolor:#111418;
$cardtopcolor:#dc3545;
$formcolor:#232A31;

$backgroundknowmecolor:#212529;
$bgcontactcolor:#343A40;
$bgsecondcolor:#212529;
$bgiconcolor:#212529;
$navcolor:#111418;
$textcolor:white;
$textcolor2:#19A472;

